@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .flex-container{
        padding: 16px;
        margin: 0 auto;
        max-width: 982px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
}